@import '../../styles/variables';
@import '../../styles/mixins';

.mobile {
  .VisitedHomesPage {
    @include page-container($full-screen-height: true);

    &__content {
      display: flex;
      flex-direction: column;
      @include page-content(100vw, 100vw, 24px);
      overflow: auto;
    }

    &__list {
      grid-template-columns: 1fr;

      .Property {
        max-width: 100%;
      }
    }
  }
}