// Colors
$black: #010118;
$teal: #009099;
$dark-turquoise: #11BFBD;
$ziggurat: #B3DAD9;
$catskill-white: #F5FAFA;
$white: #FFFFFF;
$gray-alabaster: #FAFAFA;
$gray-gallery: #F0F0F0;
$gray-silver: #C4C4C4;
$gray-dusty: #9A9A9A;
$gray: #858585;
$orange: #D5654F;
$red-light: #FAE6EA;
$red: #AF1E1E;

// Fonts
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$default-letter-spacing: 0.15px;

// Borders
$border-width-base: 1px;
$border-width-bold: 2px;
$border-radius-extra-small: 1px;
$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-big: 8px;

// Components
$header-height: 64px;
$spinner-offset: 188;
$spinner-duration: 1.4s;
$side-menu-width: 400px;

// Page
$page__top-offset: 40px;
$page__content__width: 80vw;
$page__content__max-width: 1000px;
$page__content__width--small: 50vw;
$page__content__max-width--small: 500px;
